body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 초대장 크기 전체적으로 작게 조정 - 이미지 한 장 크기만큼 */
.invitation {
    width: 30vw;
    max-width: 300px;
    height: auto;
    aspect-ratio: 4 / 3; /* 세로가 더 짧게 조정 */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.3s ease;
    background-image: url('bbb.jpg'); 
    background-size: cover;
    background-position: center;
}

.invitation p {
    color: white;
    font-size: 1.5vw;
    font-family: 'Georgia', 'Times New Roman', serif;
    text-align: center;
}

/* 편지 크기 전체적으로 작게 조정 - 이미지 한 장 크기만큼 */
.letter {
    display: none;
    position: relative;
    width: 30vw;
    max-width: 300px;
    height: auto;
    aspect-ratio: 4 / 3;
    background-color: white;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    opacity: 0;
    transform: scale(0);
    animation: openLetter 1s forwards;
}

.letter-content {
    text-align: center;
    padding: 5px;
}

.letter-inner {
    width: 30vw;
    max-width: 300px;
    height: auto;
    aspect-ratio: 4 / 3; /* 세로가 더 짧게 조정 */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.3s ease;
    background-image: url('first.jpg'); 
    background-size: cover;
    background-position: center;
}

.barbie-img{
    width: 15vw;
    max-width: 120px;
    height: auto;
    display: none;
    position: absolute;
    top: 15%;
    z-index: 10;
}

.barbie-img {
    left: 10%; /* 왼쪽으로 이동 */
}


button {
    margin-top: 2vh;
    padding: 1vw 2vw;
    font-size: 1vw;
    background-color: #ff66b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .invitation {
        width: 50vw;
    }

    .letter {
        width: 60vw;
    }

    .barbie-img{
        width: 12vw;
        max-width: 100px;
    }

    button {
        font-size: 1.5vw;
    }
}

@keyframes openLetter {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes showLetterContent {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
